@import './_variables';
@import './NavBar.scss';
@import './SideBar.scss';
@import './login.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 28px;
  font-weight: 600;
}

h2{
  font-size: 26px;
  font-weight: bold;
}

h3{
  font-size: 20px;
  font-weight: 500;
}

h4{
  font-size: 16px;
  font-weight: 600;
}

p{
  font-size: 14px;
}

button{
  border: none;
}

// global classname
.container{
  max-width: 1240px;
  margin: 0 auto;
}

.mt-40{
  margin-top: 40px;
}

.flex-col{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

// Layout
.layOut{
  display: flex;
  flex-direction: row;
}

.main{
  display: flex;
}

.PageInfoCard{
  width: 314px;
  height: 93px;
  background-color: $green;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 0;

  .infoCard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    img{
      height: 58px;
      width: 58px;
    }

    div{
      h2,h3{
        color: white;
      }
    }
  }
}

