.sideBar{
    display: flex;
    flex-direction: column;
    background-color: #F4F1F1;
    height: calc(100vh - 60px);
    width: 40px;
    padding: 0 0.5rem ;

    .dashBoard{
        background-color: #099D3A;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 2rem;
        width: 198px;
        margin: 1rem auto;
        border-radius: 0.25rem;
        height: 40px;

        img{
            width: 13px;
            height: 13px;
        }

        h4{
            color: white;
        }
    }

    button{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .sideBar_arrow{
            width: 1.5rem;
            display: flex;
            cursor: pointer;
            // margin: 5px;
        }
    }

    .sidebar_nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // align-items: center;
        margin: 1rem auto;
    }
}

.sideBarOpen{
    width: 258px;
}

.sideBarTab{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}